input[type=text] {
    width: 200px;
    padding: 4px 10px;
    margin: 2px 0;
    box-sizing: border-box;
	 border: 2px solid deepblue;
    border-radius: 4px;
	
}

ion-button[type=submit] {
    background-color: #cc99ff;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	
}


input[type=password] {
    width: 200px;
    padding: 4px 10px;
    margin: 2px 0;
    box-sizing: border-box;
	 border: 2px solid deepblue;
    border-radius: 4px;
}
body{
	background-size : 160% auto
	
}
body, a:hover {cursor: url(https://localhost/Images/ani450.ani), 
url(http://cur.cursors-4u.net/anime/ani-4/ani450.png), 
progress;


}
a:hover { 
  text-decoration: none;
}
